<div class="sw-panel-left">
    <div class="sw-panel-header">StaticWeb</div>
    <div class="sw-panel-dragdown">-</div>
    <ul class="sw-panel-content-list">
        <li class="sw-panel-list-item">
            <div class="sw-panel-list-item-header">Pages</div>
            <div class="sw-panel-list-item-content">
                <ul class="sw-onpage-navigation-items">
                    <li class="sw-onpage-navigation-item-selected" title="/" data-sw-nav-item-path="/" data-sw-nav-item-folder="/" data-sw-nav-item-type="file">
                        <span>
                            <a href="/index.html" class="sw-onpage-navigation-item-link">&nbsp;/</a>
                            <a href="#" title="Delete &nbsp;/" class="sw-onpage-navigation-item-delete">x</a>
                            <a href="#" title="Add a sub-page for &nbsp;/" class="sw-onpage-navigation-item-add">+</a>
                        </span>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</div>