<sw-template>
  <div class="sw-wrapper sw-centertext">
      <header class="sw-logo">
        <h1 class="sw-h1">Example Site</h1>
      </header>
      <p class="sw-regular">
          Welcome to your web site administration interface, please
          click the login button below to start the login process.
      </p>
      <a id="staticweb-login-link" class="sw-login" href="https://brfskagagard-inloggning.azurewebsites.net?state=stateKeyToVerifyToken&appName=admin-test" title="Logga in med github">
        <!-- TODO: fix adminpath -->
        <img src="/admin/img/github-octocat.svg" />
        <br>
        <span class="sw-heading sw-large">Log In</span>
      </a>
  </div>
</sw-template>
